root = true

# All files
[*]
indent_style = space
end_of_line = lf

[*.{ts,tsx}]
indent_size = 4

[*.js]
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8-bom


